.form {
  display: flex;
  flex-direction: column;
  padding: 82px 30px;
  height: min-content;
  gap: 30px;

  &__input {
    @include Montserrat-medium;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 13px 0;
    padding-left: 15px;
    line-height: 19px;
    border-bottom: solid $gray 1px;
  }

  &__button {
    border: none;
    background-color: unset;
    padding: 14px;
    height: min-content;
    background-color: $white;

    @include Montserrat-medium;
    font-size: 18px;
    line-height: 27px;
    color: $black;

    transition: opacity, transform 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transform: scale(1.03);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
