.popup {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  justify-content: center;
  height: 100vh;
  align-items: center;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
  background-color: $black;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &__window {
    max-width: 914px;
    width: 100%;
    margin: 0 20px;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
  }

  &__button-close {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 1023px) {
  .popup {
    &__logo {
      &-img {
        height: 40px;
      }
    }

    &__contact-us {
      padding: 40px 30px;
      gap: 0px;
      grid-template-columns: auto;
      grid-template-areas: 'logo' 'socials';
    }

    &_with-image {
      width: 100%;
      .popup__background {
        display: none;
      }
      .popup__window {
        width: 100%;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px) 40px;
      }
    }
  }
}
