.popup {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  justify-content: center;
  height: 100vh;
  align-items: center;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
  background-color: $black;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &__window {
    max-width: 914px;
    width: 100%;
    margin: 0 20px;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
  }

  &__button-close {
    padding: 0;
    border: none;
    width: 21.6px;
    height: 21.6px;
    background-color: unset;
    position: absolute;
    right: -30px;
    top: -10px;
  }
}
